@function findRelativeToWidh($value) {  
    @return ((($value / $device-width) * 100) * 1%);  
}

@function findRelativeToHeight($value) {  
    @return ((($value / $device-height) * 100) * 1%);  
}

%absolute-v-middle{
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    margin:auto;
}

%absolute-center{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}

    .flip {
    transform: rotate(-180deg);
}

body{
    margin:0px;
}

$device-width: 640;
$device-height: 360;
$question-container-height:81;
$option-container-height: 360 - $question-container-height;
.sequencing-content-container{
    height: $device-height * 1px;
    width: $device-width * 1px;
    font-family: 'Noto Sans';
    line-height: 19px;
    font-size:14px; 
    letter-spacing: 0.7px; 
    background: linear-gradient(0deg, #B4D0F6 0%, #D0E2F5 100%);
    .question-container{
        padding: findRelativeToWidh(12) 0%;
        height: findRelativeToHeight(57); //81 (57+12+12) 12 is padding here
        background-color: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
        position: relative;
        .image-container{
            width:14%;
            float:left;
            top:0;
            position: absolute;
            z-index: 2;
            height: 100%;
            margin-left:9%;
            img.q-image{
                max-width: 100%;
                max-height: 100%;
                float:left;
                @extend %absolute-v-middle;
                right:0;
            }
            img.audio{
                width: 30%;
                float:left;
                right:-13%;
                @extend %absolute-v-middle;
            }
            img.audio.no-q-image{
                width: 50%;
                float:left;
                right:18%;
                @extend %absolute-v-middle;
            }
        }
        .hiding-container{
            height: 50%;
            padding:0%  findRelativeToWidh(90);
            overflow: hidden;
            background: white;
            position: absolute;
            z-index:1;
            .expand-container{
                max-height: 200%;    
                width: 100%;
                p{
                    width:100%;
                    margin-top:0;
                }
            }
            .expand-container.with-media{
                width:82%;
                padding-left:18%;
            }
        }
        .expand-button{
            position: absolute;
            background-color: #E3E3E3;
            width:9%;
            border-radius: 9px;
            height: 21.8%;
            bottom:5%;
            right: 9%;
            z-index:2;
            cursor:pointer;
            img{
                @extend %absolute-center;
                height:70%;
            }
        }
    }

    .option-container.horizontal.type-1-point-1{
        height: findRelativeToHeight($option-container-height);
        padding-right: findRelativeToWidh(88);
        padding-left: findRelativeToWidh(88);
        width: findRelativeToWidh($device-width - (88 * 2));
        position: relative;
        display:table;
        .option-block-container{
            justify-content: center;
            display: table-cell;
            align-items: center;
            vertical-align: middle;
            .option-block{
                cursor:move;
                width: (111 / ($device-width - (2 * 88))) * 100 * 1%; //90 is padding of option container, thus reminding is width of the option container
                height: ((180 / $option-container-height) * 100 * 1%);
                margin-right:findRelativeToWidh(8);
                border-radius: 4px;	
                background-color: #FFFFFF;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
                position: relative;
                float:left;
                img.audio{
                    position: absolute;
                    top:-6%;
                    left:0;
                    right:0;
                    margin:auto;
                    width:20%;
                    z-index: 1;
                    border-radius: 50%;
                }
                .option-image-container{
                    height: 75%;
                    width:100%;
                    position: relative;
                    background-color:#dce5f4;
                    img{
                        @extend %absolute-center;
                        max-height: 100%;
                        max-width: 100%;
                    }
                }
                img.tick{
                    position: absolute;
                    bottom:-6%;
                    left:0;
                    right:0;
                    margin:auto;
                    width:20%;
                    z-index: 1;
                    border-radius: 50%;
                }
                .option-text-container{
                    height: 25%;
                    width:100%;
                    position: relative;
                    span{
                        position: absolute;
                        top:0;
                        bottom: 0;
                        right:3%;
                        left:5%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }               
            }
        }
        .option-block:last-child{
            margin-right:findRelativeToWidh(0);
        }
    }
}



